html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #222;
}

* {
    box-sizing: border-box;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
}

#fft,
#spectrum {
    display: block;
    width: 100%;
    height: 100%;
}

.lil-gui.autoPlace {
    bottom: 0;
    top: unset;
}
